@model MvcCecep.cctiposerv

<div class="row">
    <div class="col-md-5">
        @Html.LabelFor(model => model.codigo, "Codigo")
    </div>
    <div class="col-md-5">
        @Html.EditorFor(model => model.codigo)
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        @Html.LabelFor(model => model.descripcion, "Descripción")
    </div>
    <div class="col-md-5">
        @Html.EditorFor(model => model.descripcion)
    </div>
</div>
